// /* Bison */
// @font-face {
//     font-family: 'Bison';
//     src: url(../fonts/Bison.ttf);
// }

// /* Gotham */
// @font-face {
//     font-family: 'Gotham Light';
//     src: url(../fonts/Gotham-Light.ttf);
// }
// @font-face {
//     font-family: 'Gotham Book';
//     src: url(../fonts/Gotham-Book.ttf);
// }
// @font-face {
//     font-family: 'Gotham Bold';
//     src: url(../fonts/Gotham-Bold.ttf);
// }
// @font-face {
//     font-family: 'Gotham Bl';
//     src: url(../fonts/Gotham-Black.ttf);
// }
