$mq-mobile: 575px !default;
$mq-tablet: 769px !default;
$mq-tablet-intermediate: 900px;
$mq-tabletLandscape: 1024px !default;
$mq-desktop: 1440px !default;

@mixin tabletLandscape {
    @media (max-width : $mq-tabletLandscape) {
        @content;
    }
}

@mixin tablet {
    @media (max-width : $mq-tablet) {
        @content;
    }
}

@mixin tablet-intermediate {
    @media (max-width : $mq-tablet-intermediate) {
        @content;
    }
}

@mixin mobile {
    @media (max-width : $mq-mobile) {
        @content;
    }
}

@mixin tabletLandscapeMin {
    @media (min-width : $mq-tabletLandscape) {
        @content;
    }
}

.container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;

	@include mobile {
		padding: 0 20px;
	}
}
