.is-h1 {
    font-family: $metropolis;
    font-weight: 600;
    font-size: 36px;
}

.is-h2 {
    font-family: $nunito;
    font-weight: bold;
    font-size: 32px;
}

.is-h2 {
    font-family: $nunito;
    font-weight: bold;
    font-size: 32px;
}

.subtext {
    font-family: $nunito;
    font-weight: 300;
    font-size: 16px;
}

p {
    font-family: $nunito;
    font-size: 20px;
}
