//  Fonts
$nunito: 'nunito', arial;
$metropolis: 'metropolis', arial;

// Colors
$black: #323232;
$orange: #FF7A00;
$orange2: #FFA34D;
$orange3: #FFD9B6;
$purple: #461BB0;
$purple2: #6326FC;
$purple3: #DCD3ED;
$grey: #4E4E56;
$grey2: #D3D3D3;
$white: #FFFFFF;
