//  Fonts
$nunito: 'nunito', arial;
$metropolis: 'metropolis', arial;

// Colors
$black: #333333;
$orange: #FF7A00;
$orange2: #FFA34D;
$orange3: #FFD9B6;
$purple: #461BB0;
$purple2: #6326FC;
$purple3: #DCD3ED;
$purple4: #BAB3C9;
$grey: #4E4E56;
$grey2: #D3D3D3;
$white: #FFFFFF;
$white80: rgba(255, 255, 255, 0.8);
$orangeGradient: linear-gradient(180deg, rgba(255,153,0,1) 0%, rgba(255,122,0,1) 100%);
$orangeGradient2: linear-gradient(180deg, rgba(255,122,0,1) 0%, rgba(255,153,0,1) 100%);


$box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.08);
